.basket {
  background-color: var(--tertiary-background);
  position:absolute; 
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 75px);
  top: 75px;
}

.basket__table {
  width: 100%;
  background-color: var(--tertiary-background);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  border-spacing: 0;
}

.table__header {
  background-color: var(--secondary-background);
  color: var(--tertiary-background);
  padding: 10px;
  height: 40px;
}

.table__header__cell {
  font-size: 14px;
  font-weight: bold;
  text-align: initial;
  padding-left: 10px;
}

.table__body__row {
  padding: 10px;
}

.table__body__cell, .table__body__cell__quantity {
  padding: 10px;
  border-bottom: 1px solid #00000044;
}

.table__body__cell__quantity {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.quantity-value {
  margin-right: 10px;
}

.quantity-button {
  background-color: var(--quaternary-background);
  border: none;
  color: var(--tertiary-background);
  font-size: 15px;
  margin: 0;
  font-weight: 600;
  cursor: pointer;
  height: 25px;
  width: 25px;
  box-sizing: border-box;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-button:hover {
  transform: scale(1.1);
}

.quantity-button--remove, .quantity-button--decrement{
  background-color: var(--alert-background);
}

.basket__button {
  background-color: var(--quaternary-background);
  border: none;
  color: var(--tertiary-background);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  margin: 15px 0;
}

.basket__button:hover {
  background-color: var(--confirm-background);
  transform: scale(1.1);
}

.basket__button:disabled {
  background-color: var(--disabled-background);
  cursor: not-allowed;
}

@media (min-width: 1024px) {
  .basket { 
    position:relative; 
    padding: 20px;
    box-sizing: border-box;
    width: 330px;
    height: auto;
    background-color: var(--tertiary-background);
    top: 0;
  }
}
