.navbar__basket__button__show, .navbar__basket__button__close {
  width: 30px;
  height: 30px;
  cursor: pointer;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-background);
  height: 75px;
  padding: 0 30px;  
  color: var(--secondary-background);
  box-sizing: border-box;
}

.navbar__title {
  background-color: var(--tertiary-background);
  color: var(--secondary-background);
  padding: 5px 10px;
  border-radius: 50px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__title__text {
  margin: 0;
}

.navbar__basket__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--secondary-background);
  border-radius: 50px;
  padding: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.navbar__basket__button__show {
  color: var(--secondary-background);
}

.navbar__basket__button__close {
  color: var(--tertiary-background);
}

