:root {
  --primary-background: #304d63;
  --secondary-background: #8fb9aa;
  --tertiary-background: #ffffff;
  --quaternary-background: #b2e7e8;
  --alert-background: #f44336;
  --confirm-background: #9dff8a;
  --disabled-background: #afcbdd;
}
