.navbar__basket__button__show, .navbar__basket__button__close {
  width: 30px;
  height: 30px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #006fb9;
  height: 75px;
  padding: 0 30px;  
}

.navbar__title {
  background-color: #f26c4f;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 50px;
}

.navbar__title__text {
  margin: 0;
}

.navbar__basket__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#ffffff;
  border-radius: 50px;
  padding: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.navbar__basket__button__show {
  color: #000000
}

.navbar__basket__button__show {
  color: #ffffff
}

