.navbar__basket__button__show, .navbar__basket__button__close {
  width: 30px;
  height: 30px;
  cursor: pointer;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #006fb9;
  height: 75px;
  padding: 0 30px;  
  color: #785bef;
  box-sizing: border-box;
}

.navbar__title {
  background-color: #ffffff;
  color: #785bef;
  padding: 5px 10px;
  border-radius: 50px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__title__text {
  margin: 0;
}

.navbar__basket__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#785bef;
  border-radius: 50px;
  padding: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.navbar__basket__button__show {
  color: #785bef
}

.navbar__basket__button__close {
  color: #ffffff
}

